
h1{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.btn-container{
  width: 80%;
  margin-left: 15%;
  display: flex;
  justify-content: flex-end;
  
}

button {
    display: flex;
    align-items: center;
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-dark);
    width: 150px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    padding-left: 30px;

    .next{
        font-size: 20px;
        margin-left: 30px;
    }
  }

// Style button dark mode

label {
    width:50px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  
  label:after {
    content: "";
    width:25px;
    height: 20px;
    position: absolute;
    top:5px;
    left:5px;
    background: linear-gradient(180deg,silver,white);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  input:checked + label {
    background: #242424;
  }
  
  input:checked + label:after {
    left: 45px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  label, label:after {
    transition: 0.3s
  }
  
  label:active:after{ 
    width: 25px; 
  }
