ion-title{
    margin-left: -100px;
    margin-top: 0px;
    font-size: 25px;
    
}
ion-toolbar{
    height: 50px;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.button {
    margin: auto;
    width: fit-content;
    margin-left: 240px;
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: black;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    padding-left: 30px;
    .next{
        font-size: 20px;
        margin-left: 30px;
    }
  }