<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>
        Projects
      </b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <button class="button-top">
        <ion-icon class="icon2" name="game-controller"></ion-icon>
        <p>Tic Tac Toe</p>
      </button>
    </div>
    <div class="row">
      <button class="button">
        <ion-icon class="icon" name="film"></ion-icon>
        <p>Video Club</p>
      </button>
      <button class="button">
        <ion-icon class="icon" name="stats-chart"></ion-icon>
        <p>Company Software</p>
      </button>
    </div>
    <div class="row">
      <button class="button-center">
        <ion-icon class="icon2" name="logo-github"></ion-icon>
        <p>See More...</p>
      </button>
    </div>
  </div>
</ion-content>