#tab-button-tab2 {
    ion-icon {
        padding: 10px !important;
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        margin-top: -30px;
        border: unset;
        background: rgb(237, 73, 73); //button color
        box-shadow: 0 0 10px rgb(83, 83, 83); //button shadow
    }
}