<ion-header [translucent]="true" class="hd">
  <ion-toolbar class="tb">
    <ion-title class="tt" slot="start">
      <b>
        {{ 'skills' | translate }}
      </b>
    </ion-title>
    <ion-buttons slot="end" (click)="changeDarkMode()">
      <input type="checkbox" name="isChecked" [(ngModel)]="isChecked">
      <label for="darkmode-toggle"></label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <div class="title-content">
    <div class="title">
      <h1>Skills!</h1>  
      <h2>{{ 'alwaysgrowup' | translate }}</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="text">Design</div>
      <div class="image">
        <ion-icon name="alert-circle" (click)="setOpen(true)"></ion-icon>
      </div>
    </div>
    <div class="row">
      <div class="text">Front-End</div>
      <div class="image">
        <ion-icon name="alert-circle" (click)="setOpen2(true)"></ion-icon>
      </div>
    </div>
    <div class="row">
      <div class="text">Back-End</div>
      <div class="image">
        <ion-icon name="alert-circle" (click)="setOpen3(true)"></ion-icon>
      </div>
    </div>
    <div class="btn-container">
      <button color="light" class="btn" routerLink="/tabs/tab3">
        {{ 'school' | translate }}
        <ion-icon class="next" name="arrow-forward"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>

<!-- Modal Design start -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Design</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">{{ 'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="mdl-title">
        <h1> {{'my' | translate }} <b> {{'contact' | translate }} </b> {{'list' | translate }}</h1>
      </div>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/adobe-photoshop--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2><b>Adobe Photoshop</b></h2>
            <p>Photo Editor</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/adobe-illustrator--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2><b>Adobe Illustrator</b></h2>
            <p>Vector Photo Editor</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/adobe-after-effects--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Adobe After Effects</h2>
            <p>Creation of Visual Effects</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/adobe-premiere-pro--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Adobe Premiere</h2>
            <p>Video Editing</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/figma--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Figma</h2>
            <p>Design Projects</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- Modal Design end -->

<!-- Modal Front-End start -->
<ion-modal [isOpen]="isModalOpen2">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Front-End</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen2(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="mdl-title">
        <h1> {{'my' | translate }} <b> {{'contact' | translate }} </b> {{'list' | translate }}</h1>
      </div>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/react-native--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2><b>React</b></h2>
            <p>JavaScript Library</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/angularjs--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Angular</h2>
            <p> TypeScript Library</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/html-5--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>HTML</h2>
            <p>Markdown Language</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/css3--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>CSS</h2>
            <p>Style Sheets</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/bootstrap--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Bootstrap</h2>
            <p>Framework Web</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/ionic--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>IONIC</h2>
            <p>Mobile Appliocations</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/javascript--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>JavaScript</h2>
            <p>Programming Language</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- Modal Front-End end -->

<!-- Modal Back-End start -->
<ion-modal [isOpen]="isModalOpen3">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Back-End</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen3(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="mdl-title">
        <h1> {{'my' | translate }} <b> {{'contact' | translate }} </b> {{'list' | translate }}</h1>
      </div>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/c-sharp-logo--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2><b>C#</b></h2>
            <p>Programming Language</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/php--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>PHP</h2>
            <p> Programming Language </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/javascript--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>JavaScript</h2>
            <p> Programming Language</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/typescript--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>TypeScript</h2>
            <p>Programming Language</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/nodejs--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>NodeJs</h2>
            <p>JavaScript Library</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/express-js--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>ExpressJs</h2>
            <p>FrameWork Servers</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://img.icons8.com/color/48/null/mysql-logo--v1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>SQL</h2>
            <p>DataBase</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- Modal Back-End end -->