<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>
        Skills
      </b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="title-content"> 
    <div class="title">
      <h1>Skills!</h1>
      <h2>Always <span><b>Grow Up</b></span></h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="text">Design</div>
      <div class="image">
        <ion-icon name="alert-circle"></ion-icon>
      </div>
    </div>
    <div class="row">
      <div class="text">Front-End</div>
      <div class="image">
        <ion-icon name="alert-circle"></ion-icon>
      </div>
    </div>
    <div class="row">
      <div class="text">Back-End</div>
      <div class="image">
        <ion-icon name="alert-circle"></ion-icon>
      </div>
    </div>
  </div>
  <button class="button">
    School
    <ion-icon class="next" name="arrow-forward"></ion-icon>
  </button>  
  
</ion-content>
