<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>
        School
      </b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="start">2021</div>
    <div class="end" >2023</div>
    <div class="desc"><b>CTeSP</b></div>
    <div class="info">Desenvolvimneto Web e Multimédia</div>
  </div>
  <button class="button">
    Know More
    <ion-icon class="more" name="add"></ion-icon>
  </button>  
  <div class="container2">
    <div class="start">2021</div>
    <div class="end" >2023</div>
    <div class="desc"><b>CTeSP</b></div>
    <div class="info">Desenvolvimneto Web e Multimédia</div>
  </div>
  <button class="button">
    Know More
    <ion-icon class="more" name="add"></ion-icon>
  </button>  
  
</ion-content>
