<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="moon-outline"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title-content">
        <div class="title">
            <h1>Welcome</h1>
            <h2>Choose <span><b>Language</b></span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text"><span class="lg" (click)="goToTab1()">PT</span><span class="or">or</span><span class="lg" (click)="goToTab1()">EN</span></div>
            <div class="image">
            </div>
        </div>
    </div>
    <div class="title-content">
        <div class="info">
            <h2>Lucas</h2>
            <h1>Maciel</h1>
        </div>
    </div>
</ion-content>